<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
</head>
<body>
<p>This is the title from tpl: {{ .Title }}</p>
<p>This is the body from tpl: {{ .Body }}</p>
</body>
</html>